<template>
  <base-material-card
    color="warning"
    class="px-5 py-3"
  >
    <template v-slot:heading>
      <div class="display-2 font-weight-light">
        Employment Distribution -- France (2019)
      </div>

      <div class="subtitle-1 font-weight-light">
        Employment distribution by economic activity -- ILO modelled estimates, Nov. 2019
      </div>
    </template>
    <v-card-text>
      <template>
        <canvas id="emp-distribution-chart" />
      </template>
    </v-card-text>
  </base-material-card>
</template>

<script>
  import Chart from 'chart.js'
  import axios from 'axios'
  import { interpolateInferno } from 'd3-scale-chromatic'
  import { interpolateColors } from '../../../utils/color-generator.js'

  export default {
    name: 'EmploymentDistribution',

    mounted () {
      const url = 'https://www.ilo.org/data-api/rest/v1/data/DF_ILOEST_FRA_EMP_2EMP_SEX_ECO_DT/....SEX_T.ECO_DETAILS_A+ECO_DETAILS_B+ECO_DETAILS_C+ECO_DETAILS_DE+ECO_DETAILS_F+ECO_DETAILS_G+ECO_DETAILS_HJ+ECO_DETAILS_I+ECO_DETAILS_K+ECO_DETAILS_LMN+ECO_DETAILS_O+ECO_DETAILS_P+ECO_DETAILS_Q+ECO_DETAILS_RSTU?startPeriod=2019&endPeriod=2019'

      var dataLabels = []
      var dataValues = []
      var dataColors = []

      axios.get(url).then((response) => {
        if (response.status === 200) {
          // re-assemble the response json to match the object format that the chart expects
          // response.data.forEach(element => {
          //   dataLabels.push(element.classification1_Label)
          //   dataValues.push(element.obs_Value)
          // })

          dataLabels = response.data.map(obs => obs.classification1_Label)
          dataValues = response.data.map(obs => obs.obs_Value)

          const dataLength = dataValues.length

          // set interpolate inferno color scale and color range
          const colorScale = interpolateInferno

          const colorRangeInfo = {
            colorStart: 0.2,
            colorEnd: 0.8,
            useEndAsStart: true,
          }

          // create color array
          dataColors = interpolateColors(dataLength, colorScale, colorRangeInfo)

          var chartData = Object.assign({
            labels: dataLabels,
            datasets: [{
              data: dataValues,
              backgroundColor: dataColors,
              hoverBackgroundColor: dataColors,
              borderAlign: 'inner',
              hoverBorderWidth: 5,
            }],
          })

          const ctx = document.getElementById('emp-distribution-chart')
          // eslint-disable-next-line no-unused-vars
          const pieChart = new Chart(ctx, {
            type: 'pie',
            data: chartData,
            options: {
              responsive: true,
              legend: {
                display: false,
              },
              hover: {
                onHover: function (e) {
                  var point = this.getElementAtEvent(e)
                  e.target.style.cursor = point.length ? 'pointer' : 'default'
                },
              },
              animation: {
                animateRotate: true,
              },
            },
          })
        } else {
          this.chartData = 'No data available!'
        }
      }).catch(error => {
        /* eslint no-console: ["error", { allow: ["warn", "error"] }] */
        console.error(error)
      })
    },
  }
</script>
