<template>
  <base-material-card
    color="warning"
    class="px-5 py-3"
  >
    <template v-slot:heading>
      <div class="display-2 font-weight-light">
        Status in employment {{ timePeriod }}
      </div>
    </template>
    <v-card-text>
      <template>
        <canvas id="emp-status-chart" />
      </template>
    </v-card-text>
  </base-material-card>
</template>

<script>
  import Chart from 'chart.js'
  import axios from 'axios'
  import { interpolateInferno } from 'd3-scale-chromatic'
  import { interpolateColors } from '../../../utils/color-generator.js'
  import 'chartjs-plugin-labels'

  export default {
    name: 'EmpStatus',

    data () {
      return {
        timePeriod: '',
      }
    },

    mounted () {
      const url = 'https://www.ilo.org/data-api/rest/v1/data/DF_YI_ALL_EMP_TEMP_SEX_AGE_STE_NB/.CHL.A..SEX_T.AGE_AGGREGATE_TOTAL.STE_ICSE93_1+STE_ICSE93_2+STE_ICSE93_3+STE_ICSE93_4+STE_ICSE93_5+STE_ICSE93_6?lastNObservations=1'

      var dataLabels = []
      var dataValues = []
      var dataColors = []
      var timePeriod = []
      var measure = []

      axios.get(url).then((response) => {
        if (response.status === 200) {
          dataLabels = response.data.map(obs => obs.classification2_Label)
          dataValues = response.data.map(obs => obs.obs_Value)
          timePeriod = response.data.map(obs => obs.time_Period)
          measure = response.data.map(obs => obs.measure_Label)

          // set Time Period for the title
          this.timePeriod = timePeriod[0]

          const dataLength = dataValues.length

          // set interpolate inferno color scale and color range
          const colorScale = interpolateInferno

          const colorRangeInfo = {
            colorStart: 0.2,
            colorEnd: 0.8,
            useEndAsStart: true,
          }

          // create color array
          dataColors = interpolateColors(dataLength, colorScale, colorRangeInfo)

          var chartData = Object.assign({
            labels: dataLabels,
            datasets: [{
              data: dataValues,
              backgroundColor: dataColors,
              hoverBackgroundColor: dataColors,
              borderAlign: 'inner',
              borderWidth: 1,
              hoverBorderWidth: 3,
            }],
          })

          const ctx = document.getElementById('emp-status-chart')
          // eslint-disable-next-line no-unused-vars
          const pieChart = new Chart(ctx, {
            type: 'bar',
            data: chartData,
            options: {
              plugins: {
                labels: {
                  // render 'label', 'value', 'percentage', 'image' or custom function, default is 'percentage'
                  render: function (args) {
                    return args.value.toFixed(0)
                  },
                },
              },
              responsive: true,
              title: {
                display: true,
                position: 'right',
                text: measure[0],
              },
              legend: {
                display: false,
              },
              tooltips: {
                enabled: true,
                callbacks: {
                  label: function (labels) {
                    return labels.yLabel.toFixed(0)
                  },
                },
              },
            },
          })
        } else {
          this.chartData = 'No data available!'
        }
      }).catch(error => {
        /* eslint no-console: ["error", { allow: ["warn", "error"] }] */
        console.error(error)
      })
    },
  }
</script>
