<template>
  <base-material-card
    color="warning"
    class="px-5 py-3"
  >
    <template v-slot:heading>
      <div class="display-2 font-weight-light">
        Participation rates
      </div>
    </template>
    <v-card-text>
      <template>
        <canvas id="labour-participation-mixed" />
      </template>
    </v-card-text>
  </base-material-card>
</template>

<script>
  import Chart from 'chart.js'
  import axios from 'axios'
  import _ from 'lodash'

  export default {
    name: 'LabourParticipationMixed',

    mounted () {
      const url = 'https://www.ilo.org/data-api/rest/v1/data/DF_YI_ALL_EAP_DWAP_SEX_AGE_RT/.CHL.A...AGE_AGGREGATE_TOTAL?startPeriod=2010'

      var dataLabels = []
      var dataValues = []

      axios.get(url).then((response) => {
        if (response.status === 200) {
          dataLabels = [...new Set(response.data.map(obs => obs.time_Period))]
          // dataValues = response.data.map(obs => obs.obs_Value)

          dataValues = _(response.data)
            .groupBy('classification0_Label')
            .map(function (obs, gender) {
              return {
                label: gender,
                // data: _.mapValues(obs, (value, key) => { return { x: value.time_Period, y: value.obs_Value } }),
                data: _.map(obs, 'obs_Value'),
                fill: false,
                lineTension: 0.1,
                borderColor: gender === 'Male' ? '#1E2DBE' : gender === 'Female' ? '#FA3C4B' : '#230050',
                backgroundColor: gender === 'Male' ? '#1E2DBE' : gender === 'Female' ? '#FA3C4B' : '#230050',
                type: gender === 'Male' ? 'bar' : gender === 'Female' ? 'bar' : 'line',
              }
            }).value()

          var chartData = Object.assign({
            labels: dataLabels,
            datasets: dataValues,
          })

          // this.renderChart(this.chartData, this.options)
          const ctx = document.getElementById('labour-participation-mixed').getContext('2d')
          // eslint-disable-next-line no-unused-vars
          const lineChart = new Chart(ctx, {
            type: 'bar',
            data: chartData,
            options: {
              responsive: true,
              legend: {
                display: true,
                position: 'bottom',
              },
              tooltips: {
                enabled: true,
                callbacks: {
                  label: function (labels) {
                    return labels.yLabel.toFixed(0)
                  },
                },
              },
              scales: {
                yAxes: [{
                  ticks: {
                    beginAtZero: true,
                    max: 100,
                  },
                }],
              },
              plugins: {
                labels: false,
              },
              // scales: {
              //   xAxes: [{
              //     type: 'linear',
              //     position: 'bottom',
              //   }],
              // },
            },
          })
        } else {
          this.chartData = 'No data available!'
        }
      }).catch(error => {
        /* eslint no-console: ["error", { allow: ["warn", "error"] }] */
        console.error(error)
      })
    },
  }
</script>
