<template>
  <base-material-card
    color="warning"
    class="px-5 py-3"
  >
    <template v-slot:heading>
      <div class="display-2 font-weight-light">
        Labour Force {{ timePeriod }}
      </div>
    </template>
    <v-card-text>
      <template>
        <canvas id="labour-force-chart" />
      </template>
    </v-card-text>
  </base-material-card>
</template>

<script>
  import Chart from 'chart.js'
  import axios from 'axios'
  import { interpolateInferno } from 'd3-scale-chromatic'
  import { interpolateColors } from '../../../utils/color-generator.js'

  export default {
    name: 'LabourForce',

    data () {
      return {
        timePeriod: '',
      }
    },

    mounted () {
      const url = 'https://ilo.org/data-api/rest/v1/data/DF_YI_ALL_EAP_DWAP_SEX_AGE_RT/.CHL.A...AGE_AGGREGATE_TOTAL?&lastNObservations=1'

      var dataLabels = []
      var dataValues = []
      var dataColors = []
      var timePeriod = []

      axios.get(url).then((response) => {
        if (response.status === 200) {
          dataLabels = response.data.map(obs => obs.classification0_Label)
          dataValues = response.data.map(obs => obs.obs_Value)
          timePeriod = response.data.map(obs => obs.time_Period)

          // set Time Period for the title
          this.timePeriod = timePeriod[0]

          const dataLength = dataValues.length

          // set interpolate inferno color scale and color range
          const colorScale = interpolateInferno

          const colorRangeInfo = {
            colorStart: 0.2,
            colorEnd: 0.8,
            useEndAsStart: true,
          }

          // create color array
          dataColors = interpolateColors(dataLength, colorScale, colorRangeInfo)

          var chartData = Object.assign({
            labels: dataLabels,
            datasets: [{
              data: dataValues,
              backgroundColor: dataColors,
              hoverBackgroundColor: dataColors,
              borderAlign: 'inner',
              borderWidth: 1,
              hoverBorderWidth: 3,
            }],
          })

          const ctx = document.getElementById('labour-force-chart')
          // eslint-disable-next-line no-unused-vars
          const pieChart = new Chart(ctx, {
            type: 'pie',
            data: chartData,
            options: {
              plugins: {
                labels: {
                  // render 'label', 'value', 'percentage', 'image' or custom function, default is 'percentage'
                  render: function (args) {
                    return args.label + '\n' + args.percentage + '%'
                  },
                  fontColor: 'white',
                },
              },
              responsive: true,
              legend: {
                display: false,
              },
              hover: {
                onHover: function (e) {
                  var point = this.getElementAtEvent(e)
                  e.target.style.cursor = point.length ? 'pointer' : 'default'
                },
              },
              animation: {
                animateRotate: true,
              },
              tooltips: {
                enabled: true,
                mode: 'single',
                callbacks: {
                  label: function (labels, data) {
                    return data.labels[labels.index] + ': ' + data.datasets[labels.datasetIndex].data[labels.index] + '%'
                  },
                },
              },
            },
          })
        } else {
          this.chartData = 'No data available!'
        }
      }).catch(error => {
        /* eslint no-console: ["error", { allow: ["warn", "error"] }] */
        console.error(error)
      })
    },
  }
</script>
