<template>
  <base-material-stats-card
    v-model="dataValue"
    color="primary"
    icon="mdi-poll"
    :title="timePeriod"
    sub-text=" "
  />
</template>

<script>
  import axios from 'axios'

  export default {
    name: 'LabourInspection',

    data () {
      return {
        timePeriod: '',
        dataValue: '',
      }
    },
    mounted () {
      const url = 'https://www.ilo.org/data-api/rest/v1/data/DF_YI_CHL_LAI_INDE_NOC_RT/..A.?lastNObservations=1'

      var timePeriod = []
      var dataValue = []
      var decimals = []

      axios.get(url).then((response) => {
        if (response.status === 200) {
          timePeriod = response.data.map(obs => obs.indicator_Label)
          dataValue = response.data.map(obs => obs.obs_Value)
          decimals = response.data.map(obs => obs.decimals)

          // var msec = Date.parse(timePeriod[0])
          this.timePeriod = timePeriod[0]
          this.dataValue = (Math.round(dataValue[0] * Math.pow(10, decimals[0])) / Math.pow(10, decimals[0])).toString()
        }
      }).catch(error => {
        /* eslint no-console: ["error", { allow: ["warn", "error"] }] */
        console.error(error)
      })
    },
  }
</script>
