<template>
  <base-material-stats-card
    v-model="dataValue"
    color="primary"
    icon="mdi-poll"
    :title="timePeriod"
    sub-text=" "
  />
</template>

<script>
  import axios from 'axios'

  export default {
    name: 'MultipleJobs',

    data () {
      return {
        timePeriod: '',
        dataValue: '',
      }
    },
    mounted () {
      const url = 'https://www.ilo.org/data-api/rest/v1/data/DF_YI_CHL_EMP_TEMP_SEX_MJH_NB/..A..SEX_T.MJH_AGGREGATE_MULTI?lastNObservations=1'

      var timePeriod = []
      var dataValue = []
      var multiplier = []
      var decimals = []

      axios.get(url).then((response) => {
        if (response.status === 200) {
          timePeriod = response.data.map(obs => obs.time_Period)
          dataValue = response.data.map(obs => obs.obs_Value)
          multiplier = response.data.map(obs => obs.unitMultiplier)
          decimals = response.data.map(obs => obs.decimals)

          // var msec = Date.parse(timePeriod[0])
          this.timePeriod = 'Number of persons with multiple jobs in ' + timePeriod[0]
          var value = dataValue[0] * Math.pow(10, multiplier[0])
          this.dataValue = (Math.round(value * Math.pow(10, decimals[0])) / Math.pow(10, decimals[0])).toLocaleString()
        }
      }).catch(error => {
        /* eslint no-console: ["error", { allow: ["warn", "error"] }] */
        console.error(error)
      })
    },
  }
</script>
