<template>
  <base-material-stats-card
    v-model="dataValue"
    color="primary"
    icon="mdi-poll"
    :title="timePeriod"
    sub-text=" "
  />
</template>

<script>
  import axios from 'axios'

  export default {
    name: 'SdmxLabourInspection',

    data () {
      return {
        timePeriod: '',
        dataValue: '',
      }
    },
    mounted () {
      const config = {
        method: 'get',
        url: 'https://www.ilo.org/sdmx-test/rest/data/ILO,DF_YI_CHL_LAI_INDE_NOC_RT/..A.?&lastNObservations=1',
        headers: {
          // eslint-disable-next-line quote-props
          'Accept': 'application/vnd.sdmx.data+json;version=1.0',
          'Accept-Language': 'en,es,fr',
        },
      }

      axios(config).then((response) => {
        if (response.status === 200) {
          var year = response.data.data.structure.names.fr
          var value = response.data.data.dataSets[0].series['0:0:0:0'].observations[0][0]
          var decimal = parseInt(response.data.data.structure.attributes.observation[5].values.name)
          if (isNaN(decimal)) {
            decimal = 1
          }
          // eslint-disable-next-line no-console
          // console.log('year: ', year)

          this.timePeriod = year
          this.dataValue = (Math.round(value * Math.pow(10, decimal)) / Math.pow(10, decimal)).toString()
        }
      }).catch(error => {
        /* eslint no-console: ["error", { allow: ["warn", "error"] }] */
        console.error(error)
      })
    },
  }
</script>
