<template>
  <base-material-card
    color="warning"
    class="px-5 py-3"
  >
    <template v-slot:heading>
      <div class="display-2 font-weight-light">
        {{ timePeriod }}
      </div>
    </template>
    <v-card-text>
      <template>
        <canvas id="labour-force-chart" />
      </template>
    </v-card-text>
  </base-material-card>
</template>

<script>
  import Chart from 'chart.js'
  import axios from 'axios'
  import { interpolateInferno } from 'd3-scale-chromatic'
  import { interpolateColors } from '../../../utils/color-generator.js'

  export default {
    name: 'SdmxLabourForce',

    data () {
      return {
        timePeriod: '',
      }
    },

    mounted () {
      const url0 = 'https://www.ilo.org/sdmx-test/rest/data/ILO,DF_YI_CHL_EIP_TEIP_SEX_AGE_NB/..A..SEX_T.AGE_AGGREGATE_TOTAL/?lastNObservations=1'
      const url1 = 'https://www.ilo.org/sdmx-test/rest/data/ILO,DF_YI_CHL_EAP_TEAP_SEX_AGE_NB/..A..SEX_M+SEX_F.AGE_AGGREGATE_TOTAL/?lastNObservations=1'
      const url2 = 'https://www.ilo.org/sdmx-test/rest/data/ILO,DF_YI_CHL_POP_XWAP_SEX_AGE_NB/..A..SEX_T.AGE_AGGREGATE_TOTAL/?lastNObservations=1'

      axios.defaults.headers.get.Accept = 'application/vnd.sdmx.data+json;version=1.0'
      axios.defaults.headers.get['Accept-Language'] = 'en,es,fr'

      axios.all([
        axios.get(url0),
        axios.get(url1),
        axios.get(url2),
      ])
        .then(axios.spread((response0, response1, response2) => {
          if (response0.status === 200 && response1.status === 200 && response2.status === 200) {
            // this.indicator = response1.data.data.structure.names.fr + ' / ' + response2.data.data.structure.names.fr

            var year0 = response0.data.data.structure.dimensions.observation[0].values[0].name
            var year1 = response1.data.data.structure.dimensions.observation[0].values[0].name
            var year2 = response2.data.data.structure.dimensions.observation[0].values[0].name
            if (year0 !== year1 || year1 !== year2 || year0 !== year2) {
              // console.error('Time period are different cross indicators, invalid computation')
              throw new Error('Time period are different cross indicators, invalid computation')
            } else {
              this.timePeriod = response1.data.data.structure.names.es + ', ' + year1
            }

            var label1 = Object.values(response1.data.data.structure.dimensions.series[4].values).map(obs => obs.names.es)
            var label2 = Object.values(response2.data.data.structure.dimensions.series[4].values).map(obs => obs.names.es)
            // if (label1.length !== label2.length || label1.every(function (value, index) { return value !== label2[index] })) {
            //   // console.error('Sex dimension are different cross indicators, invalid computation')
            //   // console.log('label1: ', label1)
            //   // console.log('label2: ', label2)
            //   throw new Error('Sex dimension are different cross indicators, invalid computation')
            // }

            var values0 = response0.data.data.dataSets[0].series['0:0:0:0:0:0'].observations[0][0]
            var values1 = Object.values(response1.data.data.dataSets[0].series).map(obs => obs.observations[0][0])
            var values2 = response2.data.data.dataSets[0].series['0:0:0:0:0:0'].observations[0][0]
            // console.log('values: ', values1)
            var dataValues = values1.map(function (num, idx) {
              return (num / values2 * 100).toFixed(0)
            }).concat((values0 / values2 * 100).toFixed(0))

            const dataLength = 3

            // set interpolate inferno color scale and color range
            const colorScale = interpolateInferno

            const colorRangeInfo = {
              colorStart: 0.2,
              colorEnd: 0.8,
              useEndAsStart: true,
            }

            // create color array
            var dataColors = interpolateColors(dataLength, colorScale, colorRangeInfo)

            var chartData = Object.assign({
              labels: label1.concat(label2),
              datasets: [{
                data: dataValues,
                backgroundColor: dataColors,
                hoverBackgroundColor: dataColors,
                borderAlign: 'inner',
                borderWidth: 1,
                hoverBorderWidth: 3,
              }],
            })

            const ctx = document.getElementById('labour-force-chart')
            // eslint-disable-next-line no-unused-vars
            const pieChart = new Chart(ctx, {
              type: 'pie',
              data: chartData,
              options: {
                plugins: {
                  labels: {
                    // render 'label', 'value', 'percentage', 'image' or custom function, default is 'percentage'
                    render: function (args) {
                      return args.label + '\n' + args.value + '%'
                    },
                    fontColor: 'white',
                  },
                },
                responsive: true,
                legend: {
                  display: false,
                },
                hover: {
                  onHover: function (e) {
                    var point = this.getElementAtEvent(e)
                    e.target.style.cursor = point.length ? 'pointer' : 'default'
                  },
                },
                animation: {
                  animateRotate: true,
                },
                tooltips: {
                  enabled: true,
                  mode: 'single',
                  callbacks: {
                    label: function (labels, data) {
                      return data.labels[labels.index] + ': ' + data.datasets[labels.datasetIndex].data[labels.index] + '%'
                    },
                  },
                },
              },
            })
          }
        }))
    },
  }
</script>
