<template>
  <base-material-stats-card
    v-model="dataValue"
    color="primary"
    icon="mdi-poll"
    :title="timePeriod"
    sub-text="Youth not in employment, education or training"
  />
</template>

<script>
  import axios from 'axios'

  export default {
    name: 'UnemployedYouth',

    data () {
      return {
        timePeriod: '',
        dataValue: '',
      }
    },
    mounted () {
      const url = 'https://www.ilo.org/data-api/rest/v1/data/DF_YI_CHL_EIP_NEET_SEX_RT/..A..SEX_T?lastNObservations=1'

      var timePeriod = []
      var dataValue = []
      var decimals = [2]

      axios.get(url).then((response) => {
        if (response.status === 200) {
          timePeriod = response.data.map(obs => obs.time_Period)
          dataValue = response.data.map(obs => obs.obs_Value)
          // decimals = response.data.map(obs => obs.decimals)

          // var msec = Date.parse(timePeriod[0])
          this.timePeriod = 'NEET, ' + timePeriod[0]
          this.dataValue = (Math.round(dataValue[0] * Math.pow(10, decimals[0])) / Math.pow(10, decimals[0])).toString() + ' %'
        }
      }).catch(error => {
        /* eslint no-console: ["error", { allow: ["warn", "error"] }] */
        console.error(error)
      })
    },
  }
</script>
