<template>
  <v-container
    id="dashboard"
    fluid
    tag="section"
  >
    <v-row class="header">
      <v-col cols="12">
        <h1>The Labour Market at a glance</h1>
        <h4 class="subheader">
          Example of a dashboard script with data from Chile
        </h4>
      </v-col>
    </v-row>
    <v-row>
      <v-col
        cols="12"
        md="4"
      >
        <unemployment-rate />
      </v-col>

      <v-col
        cols="12"
        md="4"
      >
        <multiple-jobs />
      </v-col>

      <v-col
        cols="12"
        md="4"
      >
        <unemployed-youth />
      </v-col>

      <v-col
        cols="12"
        md="4"
      >
        <sdmx-labour-force />
      </v-col>

      <v-col
        cols="12"
        md="4"
      >
        <sdmx-labour-inspection />
      </v-col>

      <v-col
        cols="12"
        md="4"
      >
        <employment />
      </v-col>

      <v-col
        cols="12"
        md="6"
      >
        <labour-participation />
      </v-col>

      <v-col
        cols="12"
        md="6"
      >
        <emp-status />
      </v-col>
      <v-col
        cols="12"
        md="12"
      >
        <labour-participation-mixed />
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
  export default {
    name: 'DashboardDashboard',

    components: {
      LabourParticipation: () => import('./charts/LabourParticipation'),
      EmpStatus: () => import('./charts/EmpStatus'),
      UnemploymentRate: () => import('./charts/UnemploymentRate'),
      UnemployedYouth: () => import('./charts/UnemployedYouth'),
      MultipleJobs: () => import('./charts/MultipleJobs'),
      // LabourInspection: () => import('./charts/LabourInspection'),
      // LabourForce: () => import('./charts/LabourForce'),
      Employment: () => import('./charts/Employment'),
      LabourParticipationMixed: () => import('./charts/LabourParticipationMixed'),
      SdmxLabourInspection: () => import('./charts/SdmxLabourInspection'),
      SdmxLabourForce: () => import('./charts/SdmxLabourForce'),
    },

    methods: {
      complete (index) {
        this.list[index] = !this.list[index]
      },
    },
  }
</script>

<style scoped>
  .header{
    text-align : center
  }
  .subheader{
    color : #3f3f3f
  }
</style>
