<template>
  <v-container
    id="regular-tables"
    fluid
    tag="section"
  >
    <base-v-component
      heading="Simple Tables"
      link="components/simple-tables"
    />

    <base-material-card
      icon="mdi-clipboard-text"
      title="BootstrapVue Table - GraphQL API"
      class="px-5 py-3"
    >
      <!-- Apollo watched Graphql query -->
      <ApolloQuery
        :query="require('../../../graphql/GetData.gql')"
        :variables="{
          dataflowId: 'DF_YI_ALL_UNE_DEAP_SEX_AGE_RT',
          seriesKey: '.ARG+AUS+BRA+CAN+CHN+FRA+DEU+IND+IDN+ITA+JPN+MEX+SAU+ZAF+TUR+USA+GBR+RUS+KOR.A..SEX_T.AGE_YTHADULT_YGE15+AGE_YTHADULT_Y15-64+AGE_YTHADULT_Y15-24+AGE_YTHADULT_YGE25',
          startPeriod: '2010',
          lastNObservations: 1
        }"
      >
        <template slot-scope="{ result: { loading, error, data }, isLoading }">
          <!-- Loading -->
          <div
            v-if="isLoading"
            class="loading apollo"
          >
            Loading...
          </div>

          <!-- Error -->
          <div
            v-else-if="error"
            class="error apollo"
          >
            An error occured
          </div>

          <!-- Result -->
          <div
            v-else-if="data"
            class="result apollo"
          >
            <h3>Unemployment rate by sex and age (G20 countries)</h3>

            <b-tabs
              active-nav-item-class="font-weight-bold text-uppercase text-primary"
              content-class="mt-3"
              align="center"
            >
              <!-- This tabs content will always be mounted -->
              <b-tab
                id="DataTable"
                title="Table"
                active
              >
                <div>
                  <b-table
                    v-bind="data"
                    :items="data.observations"
                    :fields="fields"
                    :per-page="perPage"
                    :current-page="currentPage"
                    sort-icon-left
                    class="mt-3"
                    head-variant="dark"
                    responsive
                    striped
                    bordered
                    fixed
                    small
                    hover
                  >
                    <template v-slot:cell(Country)="obs">
                      {{ obs.refarea_Label }}
                    </template>
                    <template v-slot:cell(Sex)="obs">
                      {{ obs.refarea_Label }}
                    </template>
                    <template v-slot:cell(Age)="obs">
                      {{ obs.refarea_Label }}
                    </template>
                    <template
                      v-slot:cell(Time
                      Period)="obs"
                    >
                      {{ obs.refarea_Label }}
                    </template>
                    <template v-slot:cell(Value)="obs">
                      {{ obs.refarea_Label }}
                    </template>
                    <template v-slot:cell(Remark)="obs">
                      {{ obs.refarea_Label }}
                    </template>
                  </b-table>
                </div>
                <b-pagination
                  v-model="currentPage"
                  v-bind="data"
                  :total-rows="65"
                  :per-page="perPage"
                  aria-controls="DataTable"
                />
              </b-tab>
              <!-- This tabs content will not be mounted until the tab is shown -->
              <!-- and will be un-mounted when hidden -->
              <b-tab
                title="Map"
                lazy
              >
                <highcharts
                  :constructor-type="'mapChart'"
                  :options="chartOptions"
                  class="map"
                />
              </b-tab>
            </b-tabs>
            <!-- {{ data.observations }} -->
          </div>

          <!-- No result -->
          <div
            v-else
            class="no-result apollo"
          >
            No result :(
          </div>
        </template>
      </ApolloQuery>
    </base-material-card>

    <div class="py-3" />

    <base-material-card
      color="success"
      dark
      icon="mdi-clipboard-plus"
      title="Vuetify DataTable on Dark Background - REST API"
      class="px-5 py-3"
    >
      <template>
        <h4>Employment-to-population ratio by sex and age -- ILO modelled estimates, Nov. 2019 (%)</h4>
        <div>
          <v-select
            v-model="selected"
            :items="options"
            label="Please select a country"
            @change="getDataByCountry"
          />
        </div>
        <v-data-table
          :headers="headers"
          :items="results.data"
          :items-per-page="10"
          loading-text="Fetching data... Please wait"
          class="elevation-1"
        />
      </template>
    </base-material-card>
  </v-container>
</template>

<script>
  import axios from 'axios'
  import { Chart } from 'highcharts-vue'
  import Highcharts from 'highcharts'
  import mapInit from 'highcharts/modules/map'
  // import dataModule from 'highcharts/modules/data'
  import mapData from '@highcharts/map-collection/custom/world-palestine-highres.geo.json'

  mapInit(Highcharts)
  // dataModule(Highcharts)

  const restApiBaseUrl = 'https://www.ilo.org/data-api/rest/v1/data/DF_ILOEST_ALL_EMP_2WAP_SEX_AGE_RT/.'

  function buildUrl (countryCode) {
    return restApiBaseUrl + countryCode + '.....' + '/'
  }

  export default {
    components: {
      highcharts: Chart,
    },

    data () {
      return {
        perPage: 20,
        currentPage: 1,
        headers: [
          {
            text: 'Country',
            align: 'start',
            sortable: false,
            value: 'refarea_Label',
          },
          { text: 'Sex', value: 'classification0_Label' },
          { text: 'Age', value: 'classification1_Label' },
          { text: 'Time Period', value: 'time_Period' },
          { text: 'Value', value: 'obs_Value', sortable: false },
          { text: 'Remark', value: 'obs_Status_Label', sortable: false },
        ],
        fields: [
          { key: 'refarea_Label', label: 'Country' },
          { key: 'classification0_Label', label: 'Sex' },
          { key: 'classification1_Label', label: 'Age' },
          { key: 'time_Period', label: 'Time Period' },
          { key: 'obs_Value', label: 'Value' },
          { key: 'obs_Status_Label', label: 'Remark' },
        ],
        selected: { value: null, text: '' },
        options: [
          { value: 'AUS', text: 'Australia' },
          { value: 'AUT', text: 'Austria' },
          { value: 'CAN', text: 'Canada' },
          { value: 'CHL', text: 'Chile' },
          { value: 'CHN', text: 'China' },
          { value: 'DEU', text: 'Germany' },
          { value: 'FRA', text: 'France' },
          { value: 'ITA', text: 'Italy' },
          { value: 'MDA', text: 'Moldova' },
          { value: 'NAM', text: 'Namibia' },
          { value: 'RUS', text: 'Russian Federation' },
          { value: 'CHE', text: 'Switzerland' },
          { value: 'GBR', text: 'United Kingdom' },
          { value: 'USA', text: 'United States of America' },
          { value: 'URY', text: 'Uruguay' },
        ],
        results: [],
        chartOptions: {
          chart: {
            map: mapData,
          },
          title: {
            text: 'Unemployment Rate (G20 countries)',
          },
          subtitle: {
            text: 'Source map: <a href="http://code.highcharts.com/mapdata/custom/world-palestine-highres.js">World with Palestine areas, high resolution</a>',
          },
          mapNavigation: {
            enabled: true,
            buttonOptions: {
              alignTo: 'spacingBox',
            },
          },
          colorAxis: {
            min: 0,
          },
          series: [{
            name: 'Unemployment rate',
            states: {
              hover: {
                color: '#8CE164',
              },
            },
            dataLabels: {
              enabled: false,
              format: '{point.name}',
            },
            allAreas: true,
            joinBy: ['iso-a3', 'refarea'],
            data: [],
          }],
        },
        title: '',
      }
    },
    created () {
      this.loadMapData()
    },
    methods: {
      loadData (value) {
        // eslint-disable-next-line no-undef
        // alert(value)
        self.selected = value
      },
      getDataByCountry (selectedCountryCode) {
        const url = buildUrl(selectedCountryCode)
        axios.get(url).then((response) => {
          this.results = response
        }).catch(error => {
          /* eslint no-console: ["error", { allow: ["warn", "error"] }] */
          console.error(error)
        })
      },
      loadMapData: function () {
        const url = 'https://www.ilo.org/data-api/rest/v1/data/DF_YI_ALL_UNE_DEAP_SEX_AGE_RT/.ARG+AUS+BRA+CAN+CHN+FRA+DEU+IND+IDN+ITA+JPN+MEX+SAU+ZAF+TUR+USA+GBR+RUS+KOR.A..SEX_T.AGE_YTHADULT_YGE15?lastNObservations=1'

        axios.get(url).then((response) => {
          var chartData = []

          response.data.forEach(element => {
            var valueToPush = { }
            valueToPush.refarea = element.refarea
            valueToPush.value = element.obs_Value
            chartData.push(valueToPush)
          })

          this.chartOptions.series[0].data = chartData
        }).catch(error => {
          /* eslint no-console: ["error", { allow: ["warn", "error"] }] */
          console.error(error)
        })
      },
    },
  }
</script>

<style scoped>
  .map {
    min-height: 700px;
  }
 </style>
